body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #d69b97;
  padding: 175px;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

.section-header {
  color: white;
  text-align: center;
}

.about {
  background-color: black;
  color: white;
  display: flex;
  padding: 175px;
}

.about-box {
  margin: 30px;
  padding: 5px;
}

.about img {
  max-width: 420px;
  height: 420px;
  object-fit: cover;
}

.about p {
  line-height: 30px;
  text-align: center;
}

.team {
  background-image: url("Imgs/mountain.jpg");
  background-size: cover;
  padding: 100px;
}

.the-team {
  display: flex 1px solid red;
  border: 1px solid red;
}

.team-box {
  border: 1px solid red;
}
